node_modules/

# Android
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/.gradle/
android/.idea/
android/local.properties
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/public/

# Capacitor
.capacitor/
