---
import { getCollection } from "astro:content";
import CategoryCard from "./CategoryCard.astro";
import CategoryNav from "./CategoryNav.astro";

const response = await getCollection("categories");
const categories = response.map(({ data: category }) => category);
---
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
  <CategoryNav categories={categories} />

  <div class="space-y-24">
    {
      categories.map((category) => {
        return <CategoryCard category={category} />;
      })
    }
  </div>
</div>
