---
import type { Product } from "../../collections/Product";
import { t } from "../../utils/t";

interface Props {
  product: Product;
}
const { product } = Astro.props;
const { lang = "es" } = Astro.params;
---

<div>
  {t(product.name, lang)}
</div>
