---
import Layout from "../layouts/Layout.astro";
import ForgotPasswordForm from "@pulpo/auth/components/ForgotPasswordForm.svelte";
---

<Layout title="Contraseña olvidada — POS Pulpo">
  <div class="h-full flex items-center justify-center bg-zinc-100">
    <ForgotPasswordForm client:only="svelte" />
  </div>
</Layout>
