---
import Layout from "../layouts/Layout.astro";
import CartSidebar from "../components/CartSidebar.astro";
import CheckoutModal from "../components/CheckoutModal.astro";
import CustomAmountModal from "../components/CustomAmountModal.astro";
import CustomerModal from "../components/CustomerModal.astro";
import DiscountModal from "../components/DiscountModal.astro";
import QuantityModal from "../components/QuantityModal.astro";
import CashClosureModal from "../components/CashClosureModal.astro";
import ShopApp from "../components/ShopApp.svelte";
---

<Layout title="POS Pulpo">
  <div class="grid grid-cols-[1fr_340px] h-full">
    <ShopApp client:only="svelte" />
    <CartSidebar />
  </div>

  <!-- Modals -->
  <CheckoutModal />
  <CustomAmountModal />
  <CustomerModal />
  <DiscountModal />
  <QuantityModal />
  <CashClosureModal />
</Layout>
