---
import Layout from "../layouts/Layout.astro";
import CartSidebar from "../components/CartSidebar.svelte";
import CheckoutModal from "../components/CheckoutModal.astro";
import CustomAmountModal from "../components/CustomAmountModal.astro";
import CustomerModal from "../components/CustomerModal.svelte";
import DiscountModal from "../components/DiscountModal.astro";
import QuantityModal from "../components/QuantityModal.astro";
import CashClosureModal from "../components/CashClosureModal.svelte";
import ShiftInvoicesModal from "../components/ShiftInvoicesModal.svelte";
import RectificativaModal from "../components/RectificativaModal.svelte";
import XReportModal from "../components/XReportModal.svelte";
import StockEditModal from "../components/StockEditModal.svelte";
import ShopApp from "../components/ShopApp.svelte";
---

<Layout title="POS Pulpo">
  <div class="grid grid-cols-[1fr_340px] h-full">
    <ShopApp client:only="svelte" />
    <CartSidebar client:only="svelte" />
  </div>

  <!-- Modals -->
  <CheckoutModal />
  <CustomAmountModal />
  <CustomerModal client:only="svelte" />
  <DiscountModal />
  <QuantityModal />
  <CashClosureModal client:only="svelte" />
  <ShiftInvoicesModal client:only="svelte" />
  <RectificativaModal client:only="svelte" />
  <XReportModal client:only="svelte" />
  <StockEditModal client:only="svelte" />
</Layout>
