---
import Layout from "../layouts/Layout.astro";
import ResetPasswordForm from "@pulpo/auth/components/ResetPasswordForm.svelte";
---

<Layout title="Nueva contraseña — POS Pulpo">
  <div class="h-full flex items-center justify-center bg-zinc-100">
    <ResetPasswordForm client:only="svelte" />
  </div>
</Layout>
