---
import AuthGuard from "../../../components/AuthGuard.svelte";
import Layout from "../../../layouts/Layout.astro";
import ReservationForm from "./ReservationFormNew.svelte";

const dateParam = Astro.url.searchParams.get('date') || "";
---

<Layout title="Neue Reservierung | Pulpo">
  <AuthGuard client:only="svelte" protect={true}>
    <main class="min-h-screen bg-surface py-12 px-4 md:px-8">
      <ReservationForm client:only="svelte" initialDate={dateParam} />
    </main>
  </AuthGuard>
</Layout>