---
import Layout from "../layouts/Layout.astro";
import AuthGuard from "../components/AuthGuard.svelte";
import ReservationEditWrapper from "../views/reservations/ReservationEditWrapper.svelte";
---

<Layout title="Reservierung bearbeiten | Pulpo">
  <AuthGuard client:only="svelte" protect={true}>
    <main class="min-h-screen bg-surface py-4 md:py-12 px-0 md:px-8">
      <ReservationEditWrapper client:only="svelte" />
    </main>
  </AuthGuard>
</Layout>
