@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-serif: "Playfair Display", serif;

  --color-background: #0a0a0a;
  --color-foreground: #fafafa;

  --color-card: #171717;
  --color-card-foreground: #f2f2f2;

  --color-primary: #cccccc;
  --color-primary-foreground: #000000;

  --color-secondary: #03dacf;
  --color-secondary-foreground: #000000;

  --color-border: #575757;

  --color-text: #fafafa;
  --color-text-muted: #a3a3a3;
}

html {
  scroll-behavior: smooth;
}

:root {
  --nav-height: 64px; /* Mobile Standard (h-16) */
}

@media (min-width: 768px) {
  :root {
    --nav-height: 80px; /* Desktop Standard (h-20) */
  }
}
