---
import Hero from "../../components/blocks/Hero.astro";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { lang: undefined } },
    { params: { lang: "es" } },
    { params: { lang: "es-ar" } },
    { params: { lang: "en" } },
    { params: { lang: "de" } },
  ];
}

const { lang = "es" } = Astro.params;
---

<Layout title="Start">
  <Hero />
  <div>Index {lang}</div>
</Layout>
