---
export const prerender = false;

import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { t } from "../../../utils/t";
import CategoryCard from "../../../components/menu/CategoryCard.astro";

const { lang = "es" } = Astro.params;
const categories = await getCollection("categories");
---

<Layout title="Menu">
  <div class="w-full">
    <!-- <CategoryNav categories={sortedCategories} /> -->

    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-12">
      <div class="space-y-24">
        {
          categories.map(({ data: category }) => {
            return (
              <CategoryCard category={category}>
                <h1>{t(category.name, lang)}</h1>
                {category.products.length}
              </CategoryCard>
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>
