@import "tailwindcss";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@theme {
    --font-sans: "Inter", system-ui, sans-serif;

    --color-pulpo-dark: #0f172a;
    --color-pulpo-blue: #3b82f6;

    --color-pulpo-accent: #f23f5d;
    --color-pulpo-light: #f8fafc;
}

body {
    font-family: var(--font-sans);
    color: var(--color-pulpo-dark);
    background-color: white;
    -webkit-font-smoothing: antialiased;
}
