name: Deploy Website

on:
  repository_dispatch:
    types: [deploy_website]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        env:
          TENANT_ID: ${{ github.event.client_payload.tenant_id }}
          SITE_URL: https://${{ github.event.client_payload.domain }}
          DIRECTUS_TOKEN: ${{ secrets.DIRECTUS_TOKEN }}
          DIRECTUS_URL: ${{ secrets.DIRECTUS_URL }}
        run: |
          echo "Tenant ID is: $TENANT_ID"
          pnpm run build:website

      - name: Archive Production Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ github.event.client_payload.tenant_id }}
          path: apps/website/dist/
          retention-days: 5

      - name: Create Traefik Dynamic Config
        id: traefik-conf
        env:
          TENANT_ID: ${{ github.event.client_payload.tenant_id }}
        run: |
          DOMAIN="${{ github.event.client_payload.domain }}"
          FILENAME="${{ github.event.client_payload.tenant_id }}.yml"

          # Erstelle YAML Konfiguration für diesen Tenant
          cat <<EOF > $FILENAME
          http:
            routers:
              router-$TENANT_ID:
                rule: "Host(\`$DOMAIN\`)"
                service: "web-deploy@docker"
                tls:
                  certResolver: le
          EOF

          echo "config_file=$FILENAME" >> $GITHUB_OUTPUT

      - name: Archive Config
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.client_payload.tenant_id }}.yml
          path: ${{ github.event.client_payload.tenant_id }}.yml
          retention-days: 5

      - name: Deploy via Rsync
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: deployer
          DOMAIN: ${{ github.event.client_payload.domain }}
        run: |
          # --- SSH Setup ---
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H $SSH_HOST >> ~/.ssh/known_hosts

          # --- Deploy HTML ---
          # -a: archive mode (erhält Rechte/Zeitstempel)
          # -v: verbose
          # -z: compression
          # --delete: Löscht Dateien auf dem Server, die im Build nicht mehr existieren
          rsync -avz --delete -e "ssh -i ~/.ssh/id_ed25519" apps/website/dist/ $SSH_USER@$SSH_HOST:/srv/web-deploy/www/$DOMAIN/

          # --- Deploy Traefik Config ---
          rsync -avz -e "ssh -i ~/.ssh/id_ed25519" ${{ github.event.client_payload.tenant_id }}.yml $SSH_USER@$SSH_HOST:/srv/web-deploy/www-traefik/
