name: Deploy Website

on:
    repository_dispatch:
        types: [deploy_website]

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Install PNPM
              uses: pnpm/action-setup@v2
              with:
                  version: 10

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: "pnpm"

            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

            - name: Build
              env:
                  TENANT_ID: ${{ github.event.client_payload.tenant_id }}
                  DIRECTUS_TOKEN: ${{ secrets.DIRECTUS_TOKEN }}
              run: |
                echo "Tenant ID is: $TENANT_ID"
                pnpm run build
